doctype html
html(lang=language)
  head
    link(href="https://fonts.googleapis.com" rel="preconnect")
    link(crossorigin href="https://fonts.gstatic.com" rel="preconnect")
    link(href="/bootstrap-grid.min.css" rel="stylesheet")
    link(href="https://fonts.googleapis.com/css2?family=Catamaran:wght@200;500;700&family=Lato:ital,wght@0,400;0,700;1,400&display=swap" rel="stylesheet")
    link(href="/favicon.png" rel="shortcut icon" type="image/png")
    meta(charset="UTF-8")
    meta(content="width=device-width, initial-scale=1.0" name="viewport")
    title Digital Léman CV
  body
    h1 Mes CVs
    img(height="305px" id="cv-pivot-picture" width="215px")
    h1 Mes renseignements
    form
      label(for="exampleInputEmail1") Email address
      input(type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Enter email")
    script(crossorigin="anonymous" integrity="sha384-/KNQL8Nu5gCHLqwqfQjA689Hhoqgi2S84SNUxC3roTe4EhJ9AfLkp8QiQcU8AMzI" src="https://cdn.socket.io/4.5.4/socket.io.min.js")
    script.
      (() => {
        const getToken = () => {
          let match = document.cookie.match(/t=([^;]+)/);
          if (match && match[1]) {
            return match[1];
          } else {
            //redirect();
          }
        }
        const socket = io("https://mq.digitalleman.com", {
          auth: {
            token: getToken()
          },
          path: "/v1/"
        })  ;
        const parameters = {
          height: 842,
          url: "https://cv.digitalleman.com/pdf/#[=id]",
          width: 595
        };
        socket.emit("function", "screenshot", parameters, (results) => {
          const blob = new Blob([new Uint8Array(results)], { type: "image/jpeg" });
          let img = document.getElementById('cv-pivot-picture');
          URL.revokeObjectURL(img.src);
          img.src = URL.createObjectURL(blob);
        });
      })()