body, input, textarea {
  font-family: 'Lato', sans-serif;
  font-size: 14px;
}

body {
  margin: 0;
}

h1, h2 {
  font-family: 'Catamaran', sans-serif;
  font-weight: 600;
  margin: 10px 0;
}

h1 {
  font-size: 25px;
}

h2 {
font-size: 18px;
}

form {
  margin: 0;
}

input, textarea {
  width: 100%;
}

[v-cloak] {
  display: none;
}

.carousel {
  display: flex;
  flex-wrap: nowrap;
  overflow-x: auto;
  overflow-y: hidden;
}

.cv-image {
  background-color: rgb(227, 227, 227);
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, .075);
}

.cv-carousel .cv-image {
  height: 305px;
  max-width: 216px;
  width: 80%;
}

.fullscreen-cv-carousel {
  background-color: rgba(255, 255, 255, 0.5);
  display: none;
  height: 100%;
  left: 0;
  position: fixed;
  top: 0;
  transition: 0.5s;
  width: 100%;
  z-index: 1;
}

.fullscreen-cv-carousel .container, .fullscreen-cv-carousel .row, .fullscreen-cv-carousel .col {
  height: 100%;
}

.fullscreen-cv-carousel .carousel {
  height: 100%;
}

.fullscreen-cv-carousel .cv-image {
  flex: 0 0 auto;
  max-height: 70%;
}