html, body {
  height: 100%;
}

body, .container-fluid {
  color: #383838;
  font-family: 'Lato', sans-serif;
  margin: 0 !important;
  overflow: hidden visible;
  padding: 0 !important;
}

a {
  color: #383838;
}

img {
  object-fit: cover;
}