body {
  font-size: 14px;
}

.header {
  font-family: 'Catamaran', sans-serif;
  height: 150px;
  text-transform: uppercase;
}

.header h1 {
  font-size: 32px;
  font-weight: 700;
  line-height: 30px;
  margin: 28px 0 0 0;

}

.header h2 {
  font-size: 18px;
  font-weight: 400;
  margin: 0;
  line-height: 23px;
}

.line {
  height: 3px;
  margin-bottom: 10px;
}

.header .line {
  width: 40%;
}

.left {
  min-height: 963px;
  padding: 15px;
}

.left line {
  width: 100%;
}

.contact-attribute {
  margin-bottom: 10px;
  white-space: pre-wrap;
}

.contact-attribute .highlight {
  font-weight: 700;
}

.section  {
  margin-bottom: 10px;
}

.section .title {

}

.section .text {
  font-style: italic;
}

section {
  margin-top: 20px;
}

h3 {
  font-family: 'Catamaran', sans-serif;
  font-size: 20px;
  font-weight: 600;
  margin: 0;
  text-transform: uppercase;
}

.dates {
  display: inline-block;
  padding: 5px 10px;
}

.title {
  display: inline-block;
  margin-left: 5px;
  font-weight: 700;
}

.event .subtitle {
  margin: 5px 0;
  font-style: italic;
  font-weight: 700;
}

.description {
  margin: 5px 0;
  white-space: pre-wrap;
}

.right {
  padding: 15px 24px 15px 0;
}

.right .line {
  width: 10%;
}