doctype html
html(lang=cv.data.attributes.locale)
  head
    link(href="https://fonts.googleapis.com" rel="preconnect")
    link(crossorigin href="https://fonts.gstatic.com" rel="preconnect")
    link(href="/bootstrap-grid.min.css" rel="stylesheet")
    link(href="/pdf.css" rel="stylesheet")
    link(href=`/${cv.data.attributes.template}.css` rel="stylesheet")
    link(href="https://fonts.googleapis.com/css2?family=Catamaran:wght@200;600;700&family=Lato:ital,wght@0,400;0,700;1,400;1,700&display=swap" rel="stylesheet")
    link(href="/favicon.png" rel="shortcut icon" type="image/png")
    meta(charset="UTF-8")
    meta(content="width=device-width, initial-scale=1.0" name="viewport")
    title Digital Léman CV
  body
    block content
    