div(class="row" v-for="event in " + events)
  div(class="col-12 col-sm-6")
    input(type="text" placeholder=__("Title") v-model.lazy.trim="event.title")
  div(class="col-6 col-sm-3")
    input(type="month" :value="month(event.startDate)")
  div(class="col-6 col-sm-3")
    input(type="month" :value="month(event.endDate)")
  div(class="col-12")
    textarea(placeholder=__("Description") v-model.lazy.trim="event.description")
div(class="row")
  div(class="col-12 col-sm-6")
    input(type="text" placeholder=__("Title"))
  div(class="col-6 col-sm-3")
    input(type="month")
  div(class="col-6 col-sm-3")
    input(type="month")
  div(class="col-12")
    textarea(placeholder=__("Description"))