div(class="row" v-for="section in " + sections)
  div(class="col-12 col-sm-6")
    input(type="text" placeholder=__("Title") v-model.lazy.trim="section.title")
  div(class="col-12")
    textarea(placeholder=__("Description") v-model.lazy.trim="section.text" v-on:keyup="(event) => resizeTextarea(event.target)")
div(class="row")
  div(class="col-10 col-sm-11")
    div(class="row")
      div(class="col-12 col-sm-6")
        input(type="text" placeholder=__("Title") v-model.lazy.trim="draft." + sections.split('.')[2] + ".title")
      div(class="col-12")
        textarea(placeholder=__("Description") v-model.lazy.trim="draft." + sections.split('.')[2] + ".text" v-on:keyup="(event) => resizeTextarea(event.target)")
  div(class="col-2 col-sm-1")
    button(type="button" v-on:click="createSection('" + sections.split('.')[2] + "')") +