script(src="https://unpkg.com/vue@3/dist/vue.global.js")
- let json = JSON.stringify(cv);
script.
  (() => {
    const { createApp } = Vue;

    createApp({
      data() {
        return {
          cv: !{json},
          draft: {
            educations: {
              description: '',
              title: ''
            },
            experiences: {
              description: '',
              title: ''
            },
            interests: {
              text: '',
              title: ''
            },
            miscellaneous: {
              description: '',
              title: ''
            },
            skills: {
              text: '',
              title: ''
            }
          }
        }
      },
      methods: {
        createEvent(events) {
          this.cv.attributes[events].push({
            description: this.draft[events].description,
            title: this.draft[events].title
          });
          this.draft[events].description = '';
          this.draft[events].title = '';
        },
        createSection(sections) {
          this.cv.attributes[sections].push({
            text: this.draft[sections].text,
            title: this.draft[sections].title
          });
          this.draft[sections].text = '';
          this.draft[sections].title = '';
        },
        month(date) {
          return date ? date.substring(0, 7) : "";
        }
      },
      watch: {
        cv: {
          handler(cv) {
            let data = cv.attributes;
            data.picture = data.picture && data.picture.data ? data.picture.data.id : null;
            fetch("https://api.digitalleman.com/v2/cvs/!{cv.id}", {
              body: JSON.stringify({
                data: data
              }),
              headers: {
                "authorization": `Bearer ${getToken()}`,
                "content-type": "application/json"
              },
              method: "PUT"
            })
            .then((response) => response.json())
            .then((data) => {
              if (data.error && [401, 403].includes(data.error.status)) {
                redirect();
              } else {
                document.dispatchEvent(new CustomEvent("cv-saved"));
              }
            });
          },
          deep: true
        }
      }
    }).mount("form")
  })();